/* font-family: 'Maitree', serif
font-family: 'Inter', sans-serif;
*/

#outside_menu {
  display: flex;
  margin-top: 4%;
}

#konform_svg {
  width: 135px;
  height: 35px;
  position: absolute;
  left: 50px;
  transform-origin: right top;
  transform: translateX(-100%) rotate(-90deg);
  -webkit-transform: translateX(-100%) rotate(-90deg);
  -moz-transform: translateX(-100%) rotate(-90deg);
  -ms-transform: translateX(-100%) rotate(-90deg);
  -o-transform: translateX(-100%) rotate(-90deg);
}

#menu_list {
  width: 600px;
  display: flex;
  margin-left: 35%;
}

#menu_list li {
  list-style-type: none;
  margin-right: 45px;
}

#menu_list a {
  text-decoration: none;
  color: #656565;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: relative;
  padding-bottom: 12px;
}

#menu_list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #656565;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  #menu_list a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

#contackt {
  margin-left: 23%;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 300;
  width: 35%;
  display: flex;
  color: #656565;
  letter-spacing: 0.5px;
}

#contackt li {
  list-style-type: none;
}

#contackt a {
  text-decoration: none;
  color: #656565;
  position: relative;
  padding-bottom: 3px;
}

#contackt a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #656565;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  #contackt a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

#contackt_left {
  margin-right: 10%;
}

#menu_alt {
  width: 100%;
  height: auto;
}

#menu_baslik {
  margin-top: 100px;
  margin-left: 18%;
}

.bp-title-container {
  display: flex;
}

/* title styles */

.bp-title span {
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 70px;
  font-family: "Maitree", serif;
  color: black;
  font-weight: 300;
  margin-top: 3px;
}

.bp-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: white-stripe 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
  -webkit-animation: white-stripe 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

.bp-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  animation: bg-stripe 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
  -webkit-animation: bg-stripe 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

.bp-title span:nth-of-type(1)::before,
.bp-title span:nth-of-type(1)::after {
  animation-delay: 0.2s;
}

.bp-title span:nth-of-type(2)::before,
.bp-title span:nth-of-type(2)::after {
  animation-delay: 0.4s;
}

@keyframes white-stripe {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes bg-stripe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

#ic_text p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 30px;
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#iconlar {
  display: flex;
  float: right;
  margin-right: 7%;
  margin-top: -4%;
}

#icon {
  margin-left: 3%;
}

#icon:hover {
  background-color: #e8e8e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* acılır menu*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.4s;
}

.overlay-open {
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.overlay-content #menu_1 {
  margin-left: 5%;
}

.overlay-content #menu_1 p::before {
  content: "";
  height: 1px;
  width: 40px;
  display: inline-block;
  background: currentColor;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
}

.overlay-content #menu_1 a {
  text-decoration: none;
  font-size: 43px;
  color: #000;
  font-family: "Maitree", serif;
  display: block;
  transition: 0.3s;
  padding-left: 17%;
}

.overlay-content #menu_2 p::before {
  content: "";
  height: 1px;
  width: 40px;
  display: inline-block;
  background: currentColor;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -39%;
}

.overlay-content #menu_2 a {
  font-size: 13px;
  color: #000;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.overlay-content #menu_2 a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #656565;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .overlay-content #menu_2 a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.overlay-content #menu_3 p:nth-child(1)::before {
  content: "";
  height: 1px;
  width: 40px;
  display: inline-block;
  background: currentColor;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -34%;
}

.overlay-content #menu_3 li {
  list-style-type: none;
}

.overlay-content #menu_3 a {
  text-decoration: none;
  color: #000;
  position: relative;
  padding-bottom: 3px;
}

.overlay-content #menu_3 a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #656565;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .overlay-content #menu_3 a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.overlay a:hover,
.overlay a:focus {
  color: #fd7e14;
}

.open-close-btn {
  position: relative;
  left: 5px;
  text-decoration: none;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
}

/* Hamburger Icon */
#hamburger-icon {
  display: none;
  width: 50px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: inline-block;
  position: absolute;
  height: 7px;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  margin-top: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Hamburger Lines  */

#hamburger-icon span {
  background-color: #000;
  position: fixed;
}

.hamburher_menu {
  margin-left: 3%;
  position: fixed;
  z-index: 101;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
  height: 1px;
}

#hamburger-icon span:nth-child(2),
#hamburger-icon span:nth-child(3) {
  top: 13px;
  height: 1px;
}

#hamburger-icon span:nth-child(4) {
  top: 26px;
  height: 1px;
}

#hamburger-icon.hamburger-open span {
  background-color: black;
}

#myNav {
  background-color: white;
}

#hamburger-icon.hamburger-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.hamburger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.hamburger-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* acılır menu end*/

/*  video  and image*/

#video_image {
  width: 100%;
  height: 820px;
  background-color: #f3f3f3;
  margin-top: 150px;
}

#video {
  width: 90%;
  height: 660px;
  float: right;
  margin-top: -6%;
}

#video video {
  width: 100%;
  height: 850px;
  float: right;
  margin-top: -6%;
}

/* video animation */

/* arrow animation */

#arrow {
  width: 10%;
  height: 100px;
  background-color: white;
  text-align: center;
}

@keyframes fading {
  from {
    opacity: 100%;
    padding-top: 0px;
  }
  to {
    opacity: 0;
    padding-top: 50px;
  }
}

.arrow {
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}
.arrow:hover {
  animation-name: fading;
  cursor: pointer;
}

.arrow svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* text */

#text_bg {
  width: 100%;
  height: 800px;
  background-color: #f3f3f3;
}

#text_arrow {
  width: 100%;
  height: 400px;
}

#video_alt_text {
  width: 60%;
  height: 400px;
  margin: auto;
}

#video_alt_text p {
  font-size: 32px;
  font-family: "Maitree", serif;
  color: #000;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 1px;
}

#video_alt_text p span {
  white-space: nowrap;
  position: relative;
}

#video_alt_text p span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.176em;
  width: 100%;
  height: 0.059em;
  background-color: #000;
}

/* ARROW */

#arrow_link a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

@keyframes right_slip {
  from {
    opacity: 100%;
    padding-left: 0px;
  }
  to {
    opacity: 0;
    padding-left: 100px;
  }
}

#arrow_link svg {
  animation-delay: 0.1s;
  animation-duration: 0.6s;
  transition: margin-left 0.3s ease-in-out;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  -ms-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
}
#arrow_link:hover svg {
  animation-name: right_slip;
  cursor: pointer;
}

/* CARD İMAGE */

.title h2 {
  margin-top: 25%;
  font-size: 45px;
  font-family: "Maitree", serif;
  font-weight: 300;
}

#orta {
  width: 100%;
  display: flex;
}

#ilgili_vakalar {
  float: right;
  margin-right: 1%;
  margin-top: -10%;
}
.card {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#img_card p a {
  text-decoration: none;
  color: #000;
  font-family: "Maitree", serif;
  font-weight: 300;
  font-size: 13px;
}

#img_card h3 a {
  text-decoration: none;
  color: #000;
  font-family: "Maitree", serif;
  font-weight: 300;
}

#cases_line {
  float: left;
  margin-top: -12%;
  width: 11%;
  height: 150px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  text-align: center;
  line-height: 150px;
}

#cases_line p::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: black;
  margin-left: 15px;
  margin-bottom: 3px;
}

figure.image_animation {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

figure.image_animation *,
figure.image_animation *:before,
figure.image_animation *:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
figure.image_animation img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card:hover figure.image_animation img,
figure.image_animation.hover img {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* services */
#services {
  width: 100%;
  height: 600px;
  background-color: #979a9d;
  color: white;
  margin-top: 50px;
}

#services_text {
  width: 72%;
  height: auto;
  margin-left: 300px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 200;
  margin-top: -5%;
  line-height: 200%;
}

#services h2 {
  font-family: "Maitree", serif;
  font-size: 48px;
  font-weight: 200;
  padding-top: 10%;
}

#ser_text {
  width: 60%;
  height: auto;
  margin: auto;
}

#deneyim {
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

#deneyim {
  display: flex;
  padding-top: 30px;
}

#deneyim::after {
  content: "";
  width: 6%;
  height: 1px;
  background-color: white;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

#hizmet_img {
  width: 90%;
  float: right;
  margin-top: -10%;
}

#hizmet_img h5 {
  font-family: "Maitree", serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 27px;
  letter-spacing: -0.22px;
}

#hizmet_img p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
#img_1 {
  width: 100%;
  height: 343px;
  object-fit: cover;
}

#img_2 {
  width: 100%;
  height: 343px;
  object-fit: cover;
}

@keyframes left {
  from {
    opacity: 100%;
    padding-left: 0px;
  }
  to {
    opacity: 0;
    padding-left: 50px;
  }
}

#hizmet_img .card a {
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}
#hizmet_img .card:hover a {
  animation-name: left;
  cursor: pointer;
}

#musteri {
  width: 100%;
  height: 500px;
  margin-top: 40%;
}

#musteri_left {
  float: left;
  width: 10%;
  height: 150px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  text-align: center;
  line-height: 150px;
  margin-top: -2%;
}

#musteri_left p::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: black;
  margin-left: 15px;
  margin-bottom: 3px;
}

#musteri_right {
  width: 90%;
  height: 500px;
  background-color: #f3f3f3;
  float: right;
}

#musteri_right p {
  font-size: 34px;
  font-family: "Maitree", serif;
  padding: 90px;
}

#musteri_right img {
  width: 15%;
  margin-right: 4%;
  margin-bottom: 3%;
}

#must_logo {
  padding-left: 90px;
}

#footer {
  width: 100%;
  height: 600px;
  background-color: #3f4041;
  margin-top: 10%;
}

#talk {
  width: 90%;
  height: 600px;
  float: right;
  background-color: #555657;
  margin-top: -10%;
}

#text_adress {
  display: flex;
}

#talk h2 {
  font-size: 48px;
  font-family: "Maitree", serif;
  color: #fff;
}

#talk p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ccc;
  font-family: "Inter", sans-serif;
}

#footer #text {
  padding: 70px 90px;
  width: 60%;
}

#footer #text p {
  padding-top: 10%;
  padding-bottom: 5%;
}

#adress {
  width: 40%;
  float: right;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  display: flex;
  color: #fff;
  font-weight: 200;
  margin-top: 7%;
}

#adress_1 {
  margin-right: 7%;
}

#footer #text a {
  text-decoration: none;
}

#footer #text a,
font {
  color: #ccc;
  font-size: 18px;
}

#footer #text a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: relative;
  padding-bottom: 5px;
}

#footer #text a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  #footer #text a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

#footer_menu {
  display: flex;
  padding-left: 90px;
}

.kutu_menu {
  width: 15%;
  border: 0;
  border-top: 1px solid white;
  margin-right: 2%;
}

.kutu_menu h3 {
  color: white;
  font-size: 18px;
  font-family: "Maitree", serif;
  padding-top: 8%;
}

.kutu_menu p {
  color: #ccc;
  font-family: "Inter", sans-serif;
  font-size: 12px !important;
}

.kutu_menu a {
  text-decoration: none;
}

.kutu_menu svg {
  display: none;
}

.kutu_menu:hover svg {
  display: inline-block;
  fill: white;
}

@keyframes left_kutu {
  from {
    opacity: 100%;
    padding-left: 0px;
  }
  to {
    opacity: 0;
    padding-left: 50px;
  }
}

.kutu_menu a svg {
  animation-delay: 0.2s;
  animation-duration: 0.3s;
}
.kutu_menu:hover a svg {
  animation-name: left_kutu;
  cursor: pointer;
}

#footer_logo {
  width: 135px;
  height: 35px;
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  margin-top: 28%;
}

#footer_logo svg {
  fill: #fff;
}

#footer_alt {
  width: 95%;
  height: 80px;
  margin-top: 5%;
}

#footer_alt font:nth-child(1) {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: #ccc;
  padding-left: 90px;
}

#footer_alt font:nth-child(2) {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: #ccc;
  padding-left: 47%;
}

#footer_alt font:nth-child(2)::after {
  content: "";
  width: 3%;
  height: 1px;
  background-color: #ccc;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 1%;
}

#footer_icon {
  display: flex;
  float: right;
  margin-right: 3%;
}

#footer_icon #icon svg {
  fill: #ccc;
  margin-top: -5px;
}
